{% extends 'myapp/base.html' %}
{% block content %}

<!-- Contact Start -->
<section class="section-content padding-y bg">
  <div class="container">
    {% include 'myapp/includes/message.html' %}
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mt-3">
      <span>Contact Us</span>
    </h2>
    <div class="row px-xl-5">

      <!-- Contact Form Column -->
      <div class="col-lg-7 mb-5">
        <div class="contact-form bg-light p-30">
          <div id="success"></div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <form action="{% url 'Contact' %}" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" minlength="5" maxlength="20" name="name" id="name" placeholder="Enter your name" class="form-control" required>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" minlength="9" maxlength="50" name="email" id="email" placeholder="Enter your email" class="form-control" required>
                  </div>
                  <div class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" name="subject" id="subject" minlength="9" maxlength="50" placeholder="Enter subject" class="form-control" required>
                  </div>
                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" name="message" id="message" minlength="10" maxlength="300" rows="4" placeholder="Message" required></textarea>
                  </div>

                  <input type="submit" value="Send" class="btn btn-warning w-100">
                </form>
              </div>
            </div> <!-- row -->
          </div> <!-- card-body -->
        </div>
      </div>

      <!-- Contact Information Column -->
      <div class="col-lg-5 mb-5">
        <div class="bg-light p-30 mb-3">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14238.484387192542!2d80.9376497922445!3d26.852001276930213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399bfd09c18f1e13%3A0xbf01e68d3158fb37!2sHazratganj%2C%20Lucknow%2C%20Uttar%20Pradesh%20226001!5e0!3m2!1sen!2sin!4v1706207731958!5m2!1sen!2sin"
            frameborder="0" style="border:0; width: 100%; height: 250px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="bg-light p-30 mb-3">
          <p class="mb-2"><i class="fa fa-map-marker-alt text-warning mr-3"></i>D-190 Sector K Hazratganj, Lucknow, Uttar Pradesh, India</p>
          <p class="mb-2"><i class="fa fa-envelope text-warning mr-3"></i>webdevrnt@gmail.com</p>
          <p class="mb-2"><i class="fa fa-phone-alt text-warning mr-3"></i>+91 7905817391</p>
        </div>
      </div>

    </div> <!-- row -->
  </div> <!-- container -->
</section>
<!-- Contact End -->

<style>
  /* General styling for padding */
  .p-30 {
    padding: 30px;
  }


  /* For mobile, tablet and larger screens */
  @media (max-width: 767px) {
    .section-title span {
      font-size: 1.5rem;
    }
    .contact-form {
      padding: 15px;
    }
    .bg-light iframe {
      height: 200px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .section-title span {
      font-size: 1.75rem;
    }
    .contact-form {
      padding: 20px;
    }
    .bg-light iframe {
      height: 220px;
    }
  }

  /* For larger screens (PC) */
  @media (min-width: 992px) {

    .section-title span {
      font-size: 2rem;
    }

    .contact-form {
      padding: 30px;
    }

    .bg-light iframe {
      height: 250px;
    }
  }

  .text-secondary {
    color: #545454 !important;
  }

</style>

{% endblock %}
