{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
<div class="text-center mt-5">
    <!-- Responsive Buttons -->
    <a href="{% url 'Store' %}" class="btn btn-success btn-sm mb-3 mb-sm-0">Shop more</a>
    <a href="{% url 'GenPdf' order_number=order.order_number transID=payment.payment_id %}" class="btn btn-info btn-sm" target="_blank">Generate PDF</a>
</div>

<div class="container" style="margin: 0 auto; width: 100%; padding: 50px; background: #f1f1f1; margin-top: 50px; margin-bottom: 50px;">
    <div class="row invoice row-printable">
        <div class="col-md-12">
            <div class="panel panel-default plain" id="dash_0">
                <div class="panel-body p30">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="invoice-logo">
                                <img src="{% static 'myapp/images/Untitled.png' %}" alt="Invoice logo" style="max-height: 40px;">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="invoice-from">
                                <ul class="list-unstyled text-right">
                                    <li><strong>Invoiced To</strong></li>
                                    <li>{{order.full_name}}</li>
                                    <li>{{order.full_address}}</li>
                                    <li>{{order.city}}, {{order.state}}</li>
                                    <li>{{order.country}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="invoice-details mt25">
                                <div class="well">
                                    <ul class="list-unstyled mb0">
                                        <li><strong>Order</strong> #{{order.order_number}}</li>
                                        <li><strong>Transaction ID</strong> {{order.payment.payment_id}}</li>
                                        <li><strong>Order Date:</strong> {{order.created_at}}</li>
                                        <li><strong>Status:</strong> {{order.payment.status}}</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Responsive Order Details Table -->
                            <div class="invoice-items">
                                <div class="table-responsive" style="overflow-x:auto; padding: 0 10px;"> <!-- Added padding to left and right -->
                                    <table cellpadding="10" width="100%" cellspacing="10" align="center" border="2">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width: 50%;">Product</th>
                                                <th class="text-center" style="width: 20%;">Quantity</th>
                                                <th class="text-center" style="width: 30%;">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          {% for item in order_detail %}
                                            <tr>
                                                <td>{{item.product.name}}
                                                  <style>
                                                   .smallwds{
                                                     font-size:12px;
                                                     color:black;
                                                   }
                                                  </style>
                                                <p class="smallwds">
                                                  {% if item.variation.all %}
                                                  {% for item in item.variation.all %}
                                                   <strong>{{ item.variation_cat | capfirst }}</strong>: {{ item.variation_value | capfirst }} <br>
                                                  {% endfor %}
                                                  {% endif %}</p>
                                                </td>
                                                <td class="text-center">{{item.quantity}}</td>
                                                <td class="text-center">र{{item.product_price}} x {{item.quantity}}</td>
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="2" class="text-right">Sub Total:</th>
                                                <th class="text-center">र{{subtotal}}</th>
                                            </tr>
                                            <tr>
                                                <th colspan="2" class="text-right">Tax:</th>
                                                <th class="text-center">र{{order.tax}}</th>
                                            </tr>

                                            <tr>
                                                <th colspan="2" class="text-right">Grand Total:</th>
                                                <th class="text-center">र{{order.order_total}}</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <br>
                            <div class="invoice-footer mt25">
                                <p class="text-center">Thank you for shopping with us!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
